.lista-notas {
  flex-grow: 3;
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  padding-left: 24px;
  padding-top: 24px;
}
.lista-notas_item {
  margin: 12px;
  max-width: 400px;
  max-height: 400px;
}

@media only screen and (max-width:620px) {
  .lista-notas {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .lista-notas_item {
    min-width: 90%;
  }
}
