.card-nota {
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  word-wrap: break-word;
}
.card-nota_cabecalho {
  font-size: 1.1em;
  display: flex;  
}
.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
}
.card-nota_titulo {
  font-size: 1.2em;
  margin-right: 12px;
}
@media only screen and (max-width:620px) {
  .card-nota {
    flex-direction: column;
    word-wrap: break-word;
  }
}